@font-face {
  font-family: 'MyFont';
  src: url('../../res/my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  }

.hello {
  font-family: 'MyFont';
  color: red;
  background: url('../../res/icon.png');
}

body {
  background-color: teal;
}
